.skills-div {
  height: 100%;
  width: 100%;
}

.skills-title {
  margin-top: 9vw;
  margin-bottom: 1%;
  font-size: 4.5rem;
  font-weight: 900;
}

.skills-list {
  height: 75%;
  width: 100%;
  margin: 0;
}

/* @media only screen and (max-width: 1600px) {
  .skills-title {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1360px) {
  .skills-title {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 1280px) {
  .skills-title {
    font-size: 3.8rem;
  }
} */

/* Extra Large devices */
@media only screen and (max-width: 1200px) {
  /* .skills-title {
    font-size: 3.5rem;
  } */

  .skills-list {
    margin: 0 2%;
  }
}

/* @media only screen and (max-width: 1024px) {
  .skills-title {
    font-size: 3rem;
  }
} */

/* Large devices */
@media only screen and (max-width: 992px) {
  /* .skills-title {
    font-size: 2.8rem;
  } */

  .skills-list {
    margin: 0 5%;
  }
}

/* @media only screen and (max-width: 854px) {
  .skills-title {
    font-size: 2.5rem;
  }
} */

/* Medium devices */
@media only screen and (max-width: 768px) {
  /* .skills-title {
    font-size: 2.2rem;
  } */

  .skills-list {
    margin: 0 4%;
  }
}

/* @media only screen and (max-width: 640px) {
  .skills-title {
    font-size: 2rem;
  }
} */

/* Small devices */
@media only screen and (max-width: 576px) {
  /* .skills-title {
    font-size: 1.8rem;
  } */

  .skills-list {
    margin: 0 5%;
  }
}

/* @media only screen and (max-width: 480px) {
} */

/* Mobile */
/* @media only screen and (max-width: 375px) {
  .skills-title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 320px) {
  .skills-title {
    font-size: 7vw;
  }
} */
