.skilltable-div {
  /* float: left; */
  display: flex;

  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  margin: 2% 1% 0 1%;
  /* margin: 2% 0 0 4%; */
  /* width: 16vw; */
  /* height: 28vw; */

  width: 14vw;
  height: 22vw;
  border-radius: 2%;
  border: 1px solid gray;
  /* box-shadow: 0px 0px 10px 10px grey; */
  /* box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.3); */
  animation: bounceInLeft 3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.skilltable-img {
  margin-top: 3%;
  height: 20%;
  width: 100%;
}

.skilltable-img img {
  height: 100%;
  width: 80%;
}

.skilltable-category {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skilltable-category-info {
  margin-top: 2%;
  margin-bottom: 0;
  font-size: 2vw;
  font-weight: 500;
}

.skilltable-acquiredSkills {
  /* margin-top: 1%; */
}

.skilltable-acquiredSkills-item {
  font-size: 1.3vw;
  color: #3f3c3c;
  margin: 1% 0;
}

.skilltable-div:hover {
  transform: scale(1.1) translateY(-10px);
  transition: all 0.8s;
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 0.5;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    opacity: 0.8;
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    opacity: 1;
    transform: translate3d(5px, 0, 0);
  }
  100% {
    transform: none;
  }
}

@media only screen and (max-width: 1600px) {
  .skilltable-category-info {
    font-size: 1.75rem;
  }

  .skilltable-acquiredSkills-item {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 1360px) {
  .skilltable-category-info {
    font-size: 1.6rem;
  }

  .skilltable-acquiredSkills-item {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 1280px) {
  .skilltable-category-info {
    font-size: 1.5rem;
  }

  .skilltable-acquiredSkills-item {
    font-size: 1.1rem;
  }
}

/* Extra Large devices */
@media only screen and (max-width: 1200px) {
  .skilltable-div {
    margin: 3% 2% 0 2%;
    width: 18vw;
    height: 25vw;
  }

  .skilltable-category-info {
    font-size: 1.45rem;
  }

  .skilltable-acquiredSkills-item {
    font-size: 1.1rem;
    margin: 2% 0;
  }
}

@media only screen and (max-width: 1024px) {
  .skilltable-category-info {
    font-size: 1.35rem;
  }

  .skilltable-acquiredSkills-item {
    font-size: 1rem;
  }
}

/* Large devices */
@media only screen and (max-width: 992px) {
  .skilltable-div {
    margin: 3% 3% 1% 3%;
    width: 20vw;
    height: 27vw;
  }

  /* .skilltable-category-info {
    font-size: 1.3rem;
  }

  .skilltable-acquiredSkills-item {
    font-size: 0.9rem;
  } */
}

@media only screen and (max-width: 854px) {
  .skilltable-div {
    /* margin: 3% 4% 3% 4%; */
    /* width: 24vw; */
    height: 30vw;
  }
}

/* Medium devices */
@media only screen and (max-width: 768px) {
  .skilltable-div {
    /* margin: 3% 3% 3% 3%; */
    width: 23vw;
    height: 35vw;
  }

  /* .skilltable-category-info {
    font-size: 1.2rem;
  }

  .skilltable-acquiredSkills-item {
    font-size: 0.9rem;
  } */
}

@media only screen and (max-width: 640px) {
  .skilltable-div {
    /* margin: 3% 3% 3% 3%; */
    width: 26vw;
    height: 39vw;
  }
}

/* Small devices */
@media only screen and (max-width: 576px) {
  .skilltable-div {
    margin: 3% 3% 2% 3%;
    width: 32vw;
    height: 44vw;
  }

  .skilltable-category-info {
    font-size: 1.25rem;
  }

  .skilltable-acquiredSkills-item {
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 480px) {
  .skilltable-div {
    margin: 3%;
    width: 36vw;
    height: 52vw;
  }

  .skilltable-category-info {
    font-size: 1.15rem;
  }

  .skilltable-acquiredSkills-item {
    font-size: 0.9rem;
  }
}

/* Mobile */
@media only screen and (max-width: 375px) {
  .skilltable-div {
    margin: 3% 4% 4% 3%;
    width: 43vw;
    height: 62vw;
  }

  /* .skilltable-category-info {
    font-size: 1rem;
  }

  .skilltable-acquiredSkills-item {
    font-size: 0.6rem;
  } */
}

@media only screen and (max-width: 320px) {
  .skilltable-div {
    /* margin: 3% 10% 3% 10%;
    width: 50vw;
    height: 70vw; */
  }

  .skilltable-category-info {
    font-size: 6vw;
  }

  .skilltable-acquiredSkills-item {
    font-size: 4vw;
  }
}
