.about-div {
  overflow: hidden;
}
.about-title {
  margin-top: 3%;
  height: 10%;
  width: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  /* font-size: 4em; */
  font-size: 3.5vw;
  font-weight: bolder;
}
.about-content {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-content-img {
  width: 30%;
  /* margin: 3%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content-img img {
  width: 70%;
  height: 70%;
  border-radius: 50%;
}

.about-content-detail {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-content-jobtitle {
  /* font-size: 2.5em; */
  font-size: 2.5vw;
  color: #2980b9;
  font-weight: bolder;
  margin-bottom: 0;
}

.about-content-detail-info {
  margin-right: 20%;
  text-align: left;
  /* font-size: 1.5em; */
  font-size: 1.5vw;
  line-height: 1.8;
}
