.contact-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-title {
  margin-top: 10vw;
  margin-bottom: 1vh;
  /* font-size: 4.5em; */
  font-size: 3.5vw;
  color: #2980b9;
  font-weight: bolder;
}

.contact-info {
  margin-top: 1vh;
  /* font-size: 1em; */
  font-size: 1.5vw;
}

/* .contact-info p {
  font-size: 1.5em;
} */

.contact-link {
  margin: 5% 20% 0 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-link-img {
  /* height: 10vh;
  width: 8vw; */
  height: 20%;
  width: 20%;
  /* margin: 0; */
}
.contact-link-img-linkedin img {
  height: 100%;
  width: 100%;
}

.contact-link-img-github img {
  height: 90%;
  width: 65%;
}

.contact-link-img-email img {
  height: 100%;
  width: 80%;
}

.contact-link-img-linkedin img:hover,
.contact-link-img-github img:hover,
.contact-link-img-email img:hover {
  transform: scale(1.3);
  transition: all 0.8s;
}
