.contact-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact-title {
  margin-bottom: 1vw;
  font-size: 4.5rem;
  font-weight: 900;
  color: #2980b9;
}

.contact-info {
  font-size: 1.9vw;
}

.contact-info-detail {
  margin: 0;
}

.contact-link {
  height: 8vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-link-img {
  height: 6vw;
  width: 11vw;
}
.contact-link-img-linkedin img {
  height: 100%;
  width: 100%;
}

.contact-link-img-github img {
  height: 100%;
  width: 60%;
}

.contact-link-img-email img {
  height: 100%;
  width: 80%;
}

.contact-link-img-linkedin img:hover,
.contact-link-img-github img:hover,
.contact-link-img-email img:hover {
  transform: scale(1.3);
  transition: all 0.8s;
}

.contact-emailsend {
  margin: 2% 0;
  width: 100vw;
  height: 420px;
}

@media only screen and (max-width: 1600px) {
  .contact-emailsend {
    height: 390px;
  }
}

@media only screen and (max-width: 1360px) {
  .contact-emailsend {
    height: 370px;
  }
}

@media only screen and (max-width: 1280px) {
  .contact-emailsend {
    height: 350px;
  }
}

/* Extra Large devices */
@media only screen and (max-width: 1200px) {
  .contact-emailsend {
    height: 330px;
  }
}

@media only screen and (max-width: 1024px) {
  .contact-emailsend {
    height: 325px;
  }
}

/* Large devices */
@media only screen and (max-width: 992px) {
  .contact-emailsend {
    height: 300px;
  }
}

@media only screen and (max-width: 854px) {
  .contact-emailsend {
    height: 290px;
  }
}

/* Medium devices */
@media only screen and (max-width: 768px) {
  .contact-emailsend {
    height: 275px;
  }
}

@media only screen and (max-width: 640px) {
  .contact-emailsend {
    height: 255px;
  }
}

/* Small devices */
@media only screen and (max-width: 576px) {
  .contact-emailsend {
    height: 245px;
  }
}

@media only screen and (max-width: 480px) {
  .contact-emailsend {
    height: 225px;
  }
}

/* Mobile */
@media only screen and (max-width: 375px) {
  .contact-emailsend {
    height: 215px;
  }
}

@media only screen and (max-width: 320px) {
  .contact-emailsend {
    height: 70vw;
  }
}
