* {
  /* border: 1px solid rgba(255, 0, 0, 1); */
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  /* font: Helvetica, "Rubik", sans-serif; */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* height: auto; */
  height: 4vw;
  width: 100vw;
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr 1fr; */
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  top: 0;
  _position: absolute;
  /* _top: expression(
    documentElement.scrollTop + "px"
  ); */
  z-index: 10;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav-myname {
  /* grid-row: 1;
  grid-column: 1; */
  /* width: 15%; */
  margin-left: 1%;
  position: fixed;
  height: 4vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* font-size: 0.9em; */
  /* font-size: 1.6vw; */
  z-index: 20;
}

.Nav-myname-info {
  font-size: 1.5vw;
  /* font-size: 2rem; */
}

.Nav-list {
  /* grid-row: 1;
  grid-column: 2; */
  /* margin: 0; */
  width: 75%;
  height: 100%;
  /* width: auto; */
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Nav-item {
  /* padding: 2% 0;
  width: 100%;
  height: 100%; */
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nav-item a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
  /* font-size: 1.3em; */
  /* font-size: calc(1.3rem + 0.5vw); */
  font-size: 2vw;
  /* font-size: 3rem; */
}

.App-main {
  margin-top: 4vw;
  /* top: 3vw; */
  /* margin-top: 5%; */
  height: 94vh;
  /* width: 100vw; */
}

.highlight {
  background-color: #2980b9;
}

@media only screen and (max-width: 1600px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 4.2rem;
  }

  /* .Nav-item a {
    font-size: 2rem;
  }

  .Nav-myname-info {
    font-size: 1.5rem;
  } */
}

@media only screen and (max-width: 1360px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 4rem;
  }

  /* .Nav-item a {
    font-size: 1.8rem;
  }

  .Nav-myname-info {
    font-size: 1.3rem;
  } */
}

@media only screen and (max-width: 1280px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 3.8rem;
  }
  /* .Nav-item a {
    font-size: 1.7rem;
  }

  .Nav-myname-info {
    font-size: 1.2rem;
  } */
}

/* Extra Large devices */
@media only screen and (max-width: 1200px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 3.5rem;
  }

  /* .Nav-item a {
    font-size: 1.6rem;
  }

  .Nav-myname-info {
    font-size: 1.1rem;
  } */
}

@media only screen and (max-width: 1024px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 3rem;
  }
  /* .Nav-item a {
    font-size: 1.5rem;
  }

  .Nav-myname-info {
    font-size: 1rem;
  } */
}

/* Large devices */
@media only screen and (max-width: 992px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 854px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 2.5rem;
  }
}

/* Medium devices */
@media only screen and (max-width: 768px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 640px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 2rem;
  }

  /* .Nav-item a {
    font-size: 1.15rem;
  }

  .Nav-myname-info {
    font-size: 0.65rem;
  } */
}

/* Small devices */
@media only screen and (max-width: 576px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 1.8rem;
  }

  /* .Nav-item a {
    font-size: 1.05rem;
  }

  .Nav-myname-info {
    font-size: 0.55rem;
  } */
}

@media only screen and (max-width: 480px) {
  /* .Nav-item a {
    font-size: 3vw;
  }

  .Nav-myname-info {
    font-size: 2.3vw;
  } */
}

/* Mobile */
@media only screen and (max-width: 375px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 320px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 7vw;
  }
}
