* {
  /* border: 1px solid rgba(255, 0, 0, 1); */
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  /* font: Helvetica, "Rubik", sans-serif; */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 4vw;
  width: 100vw;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  top: 0;
  _position: absolute;
  /* _top: expression(
    documentElement.scrollTop + "px"
  ); */
  z-index: 10;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav-myname {
  margin-left: 1%;
  position: fixed;
  height: 4vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 20;
}

.Nav-myname-info {
  font-size: 1.5vw;
}

.Nav-list {
  width: 75%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Nav-item {
  /* padding: 2% 0;
  width: 100%;
  height: 100%; */
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nav-item a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  /* font-size: 1.3em; */
  /* font-size: calc(1.3rem + 0.5vw); */
  font-size: 2vw;
}

.App-main {
  /* margin-top: 2.05vw; */
  height: 100vh;
}

.highlight {
  background-color: #2980b9;
}

@media only screen and (max-width: 1600px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 4.2rem;
  }
}

@media only screen and (max-width: 1360px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 1280px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 3.8rem;
  }
}

/* Extra Large devices */
@media only screen and (max-width: 1200px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 3rem;
  }
}

/* Large devices */
@media only screen and (max-width: 992px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 854px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 2.5rem;
  }
}

/* Medium devices */
@media only screen and (max-width: 768px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 640px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 2rem;
  }
}

/* Small devices */
@media only screen and (max-width: 576px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 480px) {
}

/* Mobile */
@media only screen and (max-width: 375px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 320px) {
  .skills-title,
  .about-title,
  .projects-title,
  .contact-title {
    font-size: 7vw;
  }
}
